---
layout: default
title: Blog archives
---

.blog.archives
  .wrapper
    .section
      %ul
        - blog.articles.each do |post|
          %li
            = link_to post.url do
              = post.title
            - if post.date
              %time
                = post.date.to_time.strftime '%b %e, %Y'
